<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_TW</string>
    <key>CFBundleExecutable</key>
    <string>OpenBSMInputMethod</string>
    <key>CFBundleIdentifier</key>
    <string>dev.openbsm.inputmethod.OpenBSM</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OpenBSM</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>InputMethodConnectionName</key>
    <string>OpenBSM_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>OpenBSMInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>OpenBSMInputController</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>TICapsLockLanguageSwitchCapable</key>
    <true/>
    <key>TISInputSourceID</key>
    <string>dev.openbsm.inputmethod.OpenBSM</string>
    <key>TISIntendedLanguage</key>
    <string>zh-Hant</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Hant</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>OpenBSM-InputMenu.tiff</string>
</dict>
</plist>
